* {
  margin: 0;
  box-sizing: border-box;
  color: #426696d3;
  font-weight: 600;
  font-family: "krub";
}

h1 {
  font-size: 2rem;
}
p,
.font-size-md {
  font-size: 1.8rem;
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

.background {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  margin-left: 400px;
  margin-bottom: 400px;
}
.circle2 {
  margin-right: 450px;
  margin-top: 400px;
}

.glass-calculator {
  width: 420px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
  border-top: 3.5px solid rgba(255, 255, 255, 0.45);
  border-left: 3.5px solid rgba(255, 255, 255, 0.45);
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(0.8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem;
  gap: 1rem;
}

.screen {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 1rem;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  border-radius: 1rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  width: 100%;
}

.buttons p,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  height: 4rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  cursor: pointer;
}

.mode {
  height: 3rem;
  width: 3rem;
  flex-direction: column;
}
.mode::before {
  content: "→";
  margin-bottom: -5px;
}
.mode::after {
  content: "←";
  margin-top: -5px;
}

.basic {
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
  color: #426696;
}

.basic:hover {
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7));
}

.basic:active {
  background: linear-gradient(to left top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9));
}

.operator,
.mode {
  background: linear-gradient(to left top, rgba(255, 132, 0, 0.6), rgba(255, 123, 0, 0.7));
  color: white;
}

.operator:hover,
.mode:hover {
  background: linear-gradient(to left top, rgba(255, 132, 0, 0.8), rgba(255, 123, 0, 0.8));
}

.operator:active,
.mode:active {
  background: linear-gradient(to left top, rgba(255, 132, 0, 1), rgba(255, 123, 0, 1));
}

.clear {
  background: linear-gradient(to left top, rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.7));
  color: white;
}

.clear:hover {
  background: linear-gradient(to left top, rgba(255, 0, 0, 0.7), rgba(255, 0, 0, 0.8));
}

.clear:active {
  background: linear-gradient(to left top, rgba(255, 0, 0, 1), rgba(255, 0, 0, 1));
}

.equal {
  background: linear-gradient(to left top, rgba(0, 187, 0, 0.7), rgba(0, 219, 0, 0.6));
  color: white;
}

.equal:hover {
  background: linear-gradient(to left top, rgba(0, 187, 0, 0.8), rgba(0, 219, 0, 0.7));
}

.equal:active {
  background: linear-gradient(to left top, rgba(0, 187, 0, 1), rgba(0, 219, 0, 1));
}

.hidden {
  display: none;
}

.col-2 {
  grid-column: span 2;
}

.text-sm {
  font-size: 1.2rem;
}

.ml-auto {
  margin-left: auto;
}

.flex {
  display: flex;
  align-items: center;
  width: 100%;
}

#operation {
  display: flex;
  gap: 0.2rem;
}

.up-r,
.up-l {
  font-size: 1rem;
  margin-top: -1.3rem;
}

.up-l {
  margin-right: -0.5rem;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
  p,
  .font-size-md {
    font-size: 1.2rem;
  }

  .screen {
    height: 4rem;
  }

  .circle1 {
    margin-left: 200px;
    margin-bottom: 300px;
  }

  .circle2 {
    margin-right: 250px;
    margin-top: 300px;
  }

  .glass-calculator {
    width: 245px;
    max-width: 90vw;
    padding: 1.1rem;
    gap: 0.5rem;
  }

  .buttons {
    gap: 0.3rem;
  }

  .buttons p,
  .button {
    height: 2.25rem;
  }

  .mode {
    height: 2.15rem;
    width: 2.15rem;
  }

  .text-sm {
    font-size: 1rem;
  }
}
